PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
GEMINI_API_KEY=AIzaSyBIPdMvrAdr5km5XhzAWPpiEP8vn7c3xUc
GEMINI_MODEL=gemini-pro
CLERK_SECRET_KEY=sk_test_kWU5oVNouoQqOXqVYkItjkjlTxhxWsni6Qe9sFB1ty
CLERK_WEBHOOK_SECRET=whsec_your_webhook_secret_here

